/* 본문메인페이지 헤더,푸터도 포함될수도있다 */

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.header .logo a,
.gnb-group2 .gnb-area .gnb-list .lang,
.section-group1 .ico-search,
.section-group2 .job-list a::after{
    background-image: url(../img/sp-bg.png);
    background-size: 328px 205px;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}