/* 본문메인페이지 헤더,푸터도 포함될수도있다 */

.blind { position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden; } 
.hidden{overflow: hidden;}


.header .logo a,
.gnb-group2 .gnb-area .gnb-list .lang,
.section-group1 .ico-search,
.section-group2 .job-list span::after,
.footer .footerRight-area button::before,
.section-group5 span.apply-link,
.section-group3 .button-wrap [class*='btn-'],
.search-popup .job-item .list { background-image: url(../img/sp-bg.png); background-size: 328px 205px; } 


.swiper { width: 100%; height: 100%; } 
.swiper-slide { position: relative; } 
.swiper-slide img { display: block; width: 100%; height: 100%; object-fit: cover; } 
.swiper-button-prev:after,
.swiper-button-next:after { display: none; } 
.inner { position: relative; max-width: 1408px; margin: 0 auto; padding: 0 104px; } 

.tit-area h2 { font-size: 64px; letter-spacing: -0.64px; margin-bottom: 20px; font-weight: bold; } 
.tit-area p { vertical-align: middle; font-size: 22px; line-height: 32px; letter-spacing: -0.44px; font-weight: bold; white-space: nowrap; } 
.tit-area a { margin-left: 30px; position: relative; display: inline-block; vertical-align: top; font-size: 14px; top: -10px; font-weight: normal; letter-spacing: -0.36px; } 
.tit-area a::before { position: absolute; bottom: 7px; width: 100%; height: 1px; background: #000; content: ''; } 
.m-block {display: none;}


/* media */


/* 랩탑 1025~1230 [1025]*/
@media (max-width: 1230px){
    .header .btn-menu, .header .logo a,
    .section-group5 span.apply-link,
    .footer .footerRight-area button.on::before,
    .sc-search .search-area2 span::after,
    .header .nav-item .ico-arrow,
    .search-popup .btn-close,
    .search-popup .btn-search
 { background-image: url(../img/sp-bg-mob.png); background-repeat: no-repeat; background-size: 195px 181px; } 
 }

/* 태블릿 768~1024 [768]]*/
@media (max-width: 1024px){
    .tit-area a {margin-left: 20px; top: 0; font-size: 12px; font-weight: normal;}
    .tit-area a::before {bottom: 3px;}
    .tit-area h2 { margin-bottom: 11px; font-size: 36px; line-height: 50px; letter-spacing: -0.7px;    font-weight: 500; } 
    .tit-area p { padding-right: 20px; margin-bottom: 9px; font-size: 16px; line-height: 26px; letter-spacing: -0.32px; }
    .inner {padding: 0 22px;}
    .m-block{display: block;}
}

/* 모바일 320부터~767px [320] */
@media (max-width: 767px) { } 