/* @font-face {
    font-family: 'TTHoves';
    src: url(../font/TT\ Hoves\ Pro\ Trial\ Light.ttf); 
    font-weight: lighter;
} */
@font-face {
    font-family: 'TTHoves';
    src: url(../font/TT\ Hoves\ Pro\ Trial\ Regular.ttf); 
    font-weight: normal;
}
/* @font-face {
    font-family: 'TTHoves';
    src: url(../font/TT\ Hoves\ Pro\ Trial\ Bold.ttf); 
    font-weight: bold;
} */
/* @font-face {
    font-family: 'NanumSquare';
    src: url(../font/NanumSquareL.ttf); 
    font-weight: lighter;
} */
@font-face {
    font-family: 'NanumSquare';
    src: url(../font/NanumSquareR.ttf); 
    font-weight: normal;
}
/* @font-face {
    font-family: 'NanumSquare';
    src: url(../font/NanumSquareB.ttf); 
    font-weight: bold;
} */